body {
	background-color: #222222;
	color: white;
	font-family:helvetica, verdana, arial, sans-serif;
}

a{
	color:white;
}

.main {
	margin-top: 7.5em;
	width:100%;
	left:0;
	padding:0;
}

.main h2{
	font-size: 1.75em;
	text-align: center;
}

.mainText{
	padding: 0 10vw;
}

.flavour{
	font-style: italic;
	text-align: center;
}

th{
	font-size:2em;
}

table.cells{
	text-align: left;
	margin:1em auto;
	border: 1px solid black;
	border-collapse: collapse;
}

table.cells td{
	border:1px solid black;
	width: 3vw;
	height: 3vw;
	font-size:1.5vw;
}

td.black{
	background-color:black;
}

td.white{
	background-color: white;
}

td.yellow{
	background-color: yellow;
}

td.red{
	background-color: red;
}

td.blue{
	background-color: blue;
}
