
#type-container {
    width: clamp(200px, 75%, 1000px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#type-header {
    width: 100%;
}

#type-timer {
    font-size: 2em;
    display: inline;
}

#type-scrambled {
    font-size: 2em;
    float: right;
    margin: 0 10px;
    display: none;
}

#type-toggle {
    font-size: 1em;
    float: right;
    height: 3em;
}

#type-toggle span{
    cursor: pointer;
    color: rgba(255,255,255,.5);
    transition: 0.5s;
    margin: 0 5px;
}

#type-toggle span:hover {
    color: rgba(255,255,255,.9);
}


#type-words {
    color: rgba(255,255,255,.5);
    overflow: hidden;
    position: relative;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    height: 6em;
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: var(--caretLeft);
    width: 0.125em;
    height: 1.5em;
    background: rgba(255,255,255,.9);
    animation: blink 1s infinite;
}

@keyframes blink {
    to {
        background: transparent;
    }
}

#type-words > .word{
    margin-right: 1em;
    position: relative;
}

.correct {
    color: rgba(255,255,255,.9)
}

.incorrect {
    color: rgba(255, 0, 0, .9)
}

.word.incorrect {
    text-decoration: underline red;
}

#type-results {
    font-size: 2em;
    text-align: center;
}

#type-restart {
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    width: max-content;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
    color: rgba(255,255,255,.5);
}

#type-restart:hover {
    color: rgba(255,255,255,.9);
    cursor: pointer;
}

#type-restart:active {
    background: rgba(255,255,255,.5);
}

#type-keyboard {
    text-align: center;
    width: clamp(200px, 75%, 1000px);
    margin: auto;
    margin-top: 10px;
}

.keyboard-row {
    margin-top: 2px;
}

.keyboard-letter {
    display: inline-block;
    width: 8%;
    padding: 2.5% 0;
    font-size: clamp(8px,8vw,16px);
    border: 1px solid rgba(255,255,255,.9);
    border-radius: 4px;
    transition: 0.25s;
}

.keyboard-letter:hover {
    background-color: rgba(255,255,255,.5);
    cursor: pointer;
}

.keyboard-letter.pressed {
    background-color: rgba(255,255,255,.5);
    cursor: pointer;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}